@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,300);

body{
	margin:0;
	padding:0;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}

a{
	color:#5d72a6;
}

.alter-container{
	max-width:960px;
	margin:0 auto;
}

.logo{
	margin:0;
	padding:0;
	width:122px;
	height:52px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat;
}

header.header{

	padding-top:25px;
	background:#52596b;
	color:#fff;

	section{

		h2{
			margin-top:75px;
			font-size:64px;
			text-transform: uppercase;
			font-weight: 100;
			text-align: center;
			margin-bottom:10px;
		}

		small{
			width:100%;
			display: block;
			text-align: center;
			font-weight: 100;
			font-size:16px;
			margin-bottom:60px;
		}

		.buttons{
			
			text-align: center;
			padding-bottom:60px;

			.btn{
				display: inline-block;
				margin-left:6px;
				margin-right:6px;
				font-family: 'Roboto', sans-serif!important;
				font-weight: 700;
			}

			.btn-danger{
				background:#fd6e6e;
				border:0;
			}

			.btn-info{
				background:#28d8b3;
				border:0;
			}

		}

	}

}

.main{

	padding-bottom:55px;

	section{
		text-align: center;
	}

	pre{
		text-align:left!important;
		width:100%;
		max-width: 400px;
		margin:0 auto;
		display: block;
		margin-bottom:20px;
	}

	h2{
		text-transform: uppercase;
		font-weight: 300;
		font-size:36px;
		text-align: center;
		padding-top:60px;
		margin-bottom:15px;
	}

	p{
		display: block;
		width: 100%;
		max-width: 555px;
		margin:0 auto;
		text-align: center;
		font-size:18px;
		padding-bottom:20px;
	}

	img{
		margin-top:20px;
	}

	.btn-info{
		background:#cb96ee;
		border:0;
		font-family: 'Roboto', sans-serif!important;
		font-weight: 700;
		min-width: 200px;
	}

}

.footer{
	border-top:1px solid #f0f2f5;
	padding:30px 0;
	text-align: center;

	.buttons{
		padding-bottom:30px;
	}

}

@media only screen and (max-width : 1026px) {

	.alter-container{
		img{
			width:100%!important;
		}
	}

}

@media only screen and (max-width : 960px) {

	header .alter-container{
		
		padding-left:20px;
		padding-right:20px;

		section h2{
			font-size:36px!important;
		}

		.btn{
			margin-bottom:10px;
		}

	}

}
